// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts { margin-left: 70%; border:4px solid green; padding:1%; margin-right:5%;}
.post { margin-top: -7%; }
.comment{ margin-top: 10%;}
